
@{
    ViewBag.Title = "Video";
    Layout = "~/Areas/HomePage/Views/Layout/Layout_Page.cshtml";
}

<!-- Breadcrumb -->
<div class="row page-name">
    <h1>Video</h1>
    <div class="col-md-6 col-md-offset-3">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","HomeRes")">Home</a></li>
            <li><a href="@Url.Action("Video","Video")">Video</a></li>
        </ol>
    </div>
</div>
<div class="row">
    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
    <div class="elfsight-app-a03d51b9-23d2-4627-b2b9-3695213482e1"></div>
</div>