
@{
    ViewBag.Title = "Video";
    Layout = "~/Areas/HomePage/Views/Layout/Layout_No_Menu.cshtml";
}

<h2>Video</h2>

<div class="row">
    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
    <div class="elfsight-app-c0908196-5024-4dc8-8237-b0725d1b90a5"></div>
</div>