/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.4001)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2012
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [RestaurantDB]
GO
/****** Object:  Table [dbo].[PdbUser]    Script Date: 10/26/2017 10:16:20 PM ******/
DROP TABLE [dbo].[PdbUser]
GO
/****** Object:  Table [dbo].[PdbRestaurants]    Script Date: 10/26/2017 10:16:20 PM ******/
DROP TABLE [dbo].[PdbRestaurants]
GO
/****** Object:  Table [dbo].[PdbFoods]    Script Date: 10/26/2017 10:16:20 PM ******/
DROP TABLE [dbo].[PdbFoods]
GO
/****** Object:  Table [dbo].[PdbFeedbacks]    Script Date: 10/26/2017 10:16:20 PM ******/
DROP TABLE [dbo].[PdbFeedbacks]
GO
/****** Object:  Table [dbo].[PdbBookTables]    Script Date: 10/26/2017 10:16:20 PM ******/
DROP TABLE [dbo].[PdbBookTables]
GO
/****** Object:  Table [dbo].[PdbBanners]    Script Date: 10/26/2017 10:16:20 PM ******/
DROP TABLE [dbo].[PdbBanners]
GO
/****** Object:  Table [dbo].[PdbBanners]    Script Date: 10/26/2017 10:16:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PdbBanners](
	[ID] [uniqueidentifier] NOT NULL,
	[ImageName] [image] NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Link] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.PdbBanners] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PdbBookTables]    Script Date: 10/26/2017 10:16:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PdbBookTables](
	[ID] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](15) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[NumberPerson] [int] NOT NULL,
	[TypeRoom] [nvarchar](100) NOT NULL,
	[Time] [datetime] NOT NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.PdbBookTables] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PdbFeedbacks]    Script Date: 10/26/2017 10:16:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PdbFeedbacks](
	[ID] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[NumberStar] [int] NOT NULL,
	[Message] [nvarchar](max) NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nchar](15) NULL,
 CONSTRAINT [PK_dbo.PdbFeedbacks] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PdbFoods]    Script Date: 10/26/2017 10:16:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PdbFoods](
	[ID] [uniqueidentifier] NOT NULL,
	[NameFood] [nvarchar](100) NOT NULL,
	[Decriptions] [nvarchar](100) NOT NULL,
	[Images] [image] NULL,
	[PriceBigSize] [money] NOT NULL,
	[PriceSmallSize] [money] NOT NULL,
	[PercentDiscountForBigSize] [int] NOT NULL,
	[PercentDiscountForSmallSize] [int] NOT NULL,
	[PriceDiscountForBigSize] [money] NULL,
	[PriceDiscountForSmallSize] [money] NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[Modifedby] [uniqueidentifier] NULL,
	[IsStatus] [bit] NOT NULL,
	[IsAllowOrder] [bit] NOT NULL,
	[IsHot] [bit] NOT NULL,
	[ViewCount] [int] NOT NULL,
	[BuyCount] [int] NOT NULL,
	[Type] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.PdbFoods] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PdbRestaurants]    Script Date: 10/26/2017 10:16:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PdbRestaurants](
	[ID] [uniqueidentifier] NOT NULL,
	[RealName] [nvarchar](100) NOT NULL,
	[ShortName] [nvarchar](50) NULL,
	[Address] [nvarchar](100) NOT NULL,
	[FacebookAddress] [nvarchar](100) NOT NULL,
	[InstagramAddress] [nvarchar](100) NOT NULL,
	[YoutubeAddress] [nvarchar](100) NULL,
	[TwitterAddress] [nvarchar](100) NULL,
	[Decriptions] [nvarchar](250) NOT NULL,
	[Phone] [nchar](15) NOT NULL,
	[Fax] [nchar](15) NOT NULL,
	[NumberStar] [int] NOT NULL,
	[TimeOpen] [nchar](10) NOT NULL,
	[TimeClose] [nchar](10) NOT NULL,
	[LocationGoogleMap] [nvarchar](200) NULL,
 CONSTRAINT [PK_dbo.PdbRestaurants] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PdbUser]    Script Date: 10/26/2017 10:16:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PdbUser](
	[ID] [uniqueidentifier] NOT NULL,
	[Username] [nchar](30) NOT NULL,
	[Password] [nchar](30) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[EmailAddress] [nvarchar](256) NOT NULL,
	[PhoneNumber] [nchar](15) NOT NULL,
	[LastLoginTime] [datetime2](7) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[isActive] [bit] NOT NULL,
	[isDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.PdbUser] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PdbBookTables] ([ID], [FirstName], [LastName], [Phone], [Email], [NumberPerson], [TypeRoom], [Time], [Note]) VALUES (N'00000000-0000-0000-0000-000000000000', N'Huy', N'Quốc', N'0962984593', N'1451010140Phuong@ou.edu.vn', 4, N'VIP', CAST(N'2017-10-26T22:00:05.083' AS DateTime), NULL)
INSERT [dbo].[PdbFeedbacks] ([ID], [FirstName], [LastName], [NumberStar], [Message], [Email], [Phone]) VALUES (N'3582c1f1-6346-4b4b-b3c3-34d519c7e548', N'Nguyễn', N'Quốc', 0, N'hay', N'1451010140Phuong@ou.edu.vn', N'0962984593     ')
INSERT [dbo].[PdbFeedbacks] ([ID], [FirstName], [LastName], [NumberStar], [Message], [Email], [Phone]) VALUES (N'9b754aad-ab4a-471e-88f9-c99ddf4e197b', N'Nguyễn', N'Quốc', 5, N'hay', N'1451010140Phuong@ou.edu.vn', N'0962984593     ')
