
@{
    ViewBag.Title = "Contact";
    Layout = "~/Areas/HomePage/Views/Layout/Layout_Page.cshtml";
}


<!-- Breadcrumb -->
<div class="row page-name">
    <h1>Liên hệ</h1>
    <div class="col-md-6 col-md-offset-3">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","HomeRes")">Home</a></li>
            <li><a href="@Url.Action("Contact","Contact")">Liên hệ</a></li>
        </ol>
    </div>
</div>


<div class="row">
    <!-- Map -->
    <div class="col-xs-12 col-sm-6 col-md-6">
        <script src="https://apps.elfsight.com/p/platform.js" defer></script>
        <div class="elfsight-app-454dc10f-7562-45c8-a601-11a6123d59ba"></div>
    </div>
    <!-- Info -->
    <div class="col-xs-12 col-sm-6 col-md-6 contact-info">
        <p>Địa chỉ: 93 Nguyễn Văn Thủ, Phường Đa Kao, Quận 1, Tp.HCM</p>
        <p>Điện thoại: 028 6262 9999</p>
        <p>Fax: 028 3910 2233</p>
        <p>Mã số thuế: 1800348038-002</p>
    </div>
</div>

