
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/HomePage/Views/Layout/Layout_.cshtml";
}

<!-- Banner -->
<div class="row">
    <img src="~/Content/assets/imgs/posters/poster.jpg" height="50%" alt="poster.jpg">
</div>

<!-- Service -->
<div class="row service">
    <div class="col-md-10 col-md-offset-1">
        <div class="col-md-6">
            <img src="~/Content/assets/imgs/posters/IMG_1.jpg" alt="">
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <img src="~/Content/assets/imgs/posters/IMG_2.jpg" alt="">
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" style="height:25px;">

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <img src="~/Content/assets/imgs/posters/IMG_3.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Menu food-->
<div class="row menu-food">
    <div class="col-md-12">
        <h1>Thực Đơn</h1>
        <ul>
            <li><a href="#">Điểm tâm</a></li>
            <li><a href="#">Bữa Trưa</a></li>
            <li><a href="#">Ăn tối</a></li>
            <li><a href="#">Bánh-Kem</a></li>
            <li><a href="#">Thức Uống</a></li>
        </ul>
    </div>
</div>

<!-- Food -->
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 food">
        <div class="thumbnail clearfix">
            <div class="col-md-6">
                <img src="~/Content/assets/imgs/products/product-1.png" />
            </div>
            <div class="col-md-6">
                <h3>Món ăn 1</h3>
                <p class="description">
                    Chỉ đơn giản là văn bản giả của ngành in và sắp chữ Chỉ đơn giản là văn bản Chỉ đơn giản là văn bản.
                </p>
                <div class="btn-group price">
                    <button type="radio" class="btn btn-a small">M: <strike>15$</strike> <strong>10$</strong></button>
                    <button type="radio" class="btn btn-b medium">L: <strike>25$</strike> <strong>20$</strong></button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 food">
        <div class="thumbnail clearfix">
            <div class="col-md-6">
                <img src="~/Content/assets/imgs/products/product-2.png" alt="">
            </div>
            <div class="col-md-6">
                <h3>Món ăn 2</h3>
                <p class="description">
                    Chỉ đơn giản là văn bản giả của ngành in và sắp chữ Chỉ đơn giản là văn bản Chỉ đơn giản là văn bản.
                </p>
                <div class="btn-group price">
                    <button type="radio" class="btn btn-a small">M: <strike>15$</strike> <strong>10$</strong></button>
                    <button type="radio" class="btn btn-b medium">L: <strike>25$</strike> <strong>20$</strong></button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 food">
        <div class="thumbnail clearfix">
            <div class="col-md-6">
                <img src="~/Content/assets/imgs/products/product-3.png" alt="">
            </div>
            <div class="col-md-6">
                <h3>Món ăn 3</h3>
                <p class="description">
                    Chỉ đơn giản là văn bản giả của ngành in và sắp chữ Chỉ đơn giản là văn bản Chỉ đơn giản là văn bản.
                </p>
                <div class="btn-group price">
                    <button type="radio" class="btn btn-a small">M: <strike>15$</strike> <strong>10$</strong></button>
                    <button type="radio" class="btn btn-b medium">L: <strike>25$</strike> <strong>20$</strong></button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 food">
        <div class="thumbnail clearfix">
            <div class="col-md-6">
                <img src="~/Content/assets/imgs/products/product-4.png " alt="">
            </div>
            <div class="col-md-6">
                <h3>Món ăn 4</h3>
                <p class="description">
                    Chỉ đơn giản là văn bản giả của ngành in và sắp chữ Chỉ đơn giản là văn bản Chỉ đơn giản là văn bản.
                </p>
                <div class="btn-group price">
                    <button type="radio" class="btn btn-a small">M: <strike>15$</strike> <strong>10$</strong></button>
                    <button type="radio" class="btn btn-b medium">L: <strike>25$</strike> <strong>20$</strong></button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 food">
        <div class="thumbnail clearfix">
            <div class="col-md-6">
                <img src="~/Content/assets/imgs/products/product-5.jpg" alt="">
            </div>
            <div class="col-md-6">
                <h3>Món ăn 5</h3>
                <p class="description">
                    Chỉ đơn giản là văn bản giả của ngành in và sắp chữ Chỉ đơn giản là văn bản Chỉ đơn giản là văn bản.
                </p>
                <div class="btn-group price">
                    <button type="radio" class="btn btn-a small">M: <strike>15$</strike> <strong>10$</strong></button>
                    <button type="radio" class="btn btn-b medium">L: <strike>25$</strike> <strong>20$</strong></button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 food">
        <div class="thumbnail clearfix">
            <div class="col-md-6">
                <img src="~/Content/assets/imgs/products/product-6.jpg" alt="">
            </div>
            <div class="col-md-6">
                <h3>Món ăn 6</h3>
                <p class="description">
                    Chỉ đơn giản là văn bản giả của ngành in và sắp chữ Chỉ đơn giản là văn bản Chỉ đơn giản là văn bản.
                </p>
                <div class="btn-group price">
                    <button type="radio" class="btn btn-a small">M: <strike>15$</strike> <strong>10$</strong></button>
                    <button type="radio" class="btn btn-b medium">L: <strike>25$</strike> <strong>20$</strong></button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Best sell -->
<div class="row best-sell">
    <div class="col-md-10 col-md-offset-1">
        <div class="col-md-6">
            <h1>Món ăn bán chạy nhất</h1>
            <div style="width:10%; height:1px; background:black; float:left;"></div>
            <div class="offer">
                Best Offer
            </div>
            <p class="description">Chỉ đơn giản là văn bản giả của ngành in và sắp chữ Chỉ đơn giản là văn bản Chỉ đơn giản là văn bản.</p>
            <div class="btn-group">
                <div class="btn-group">
                    <button type="radio" class="btn btn-info">M: <strike style="font-size:14px;">15$</strike> <strong style="font-size:20px;">10$</strong></button>
                    <button type="radio" class="btn btn-primary">L: <strike style="font-size:14px;">25$</strike> <strong style="font-size:20px;">20$</strong></button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="~/Content/assets/imgs/products/product-7.jpg" alt="">
        </div>
    </div>
</div>

<!-- Comment -->
<div class="row comment">
    <div class="col-md-10 col-md-offset-1">
        <div class="col-md-6 comment-post">
            <div class="col-md-6">
                <img src="~/Content/assets/imgs/products/product-5.jpg" class="img-circle" atl="">
            </div>
            
            <div class="col-md-6">
                <h3>User 1</h3>
                <p>"Chỉ đơn giản là văn bản giả của ngành in và sắp chữ Chỉ đơn giản là văn bản Chỉ đơn giản là văn bản."</p>
            </div>
        </div>

        <div class="col-md-6 comment-post">
            <div class="col-md-6">
                <img src="~/Content/assets/imgs/products/product-5.jpg" class="img-circle" atl="">
            </div>

            <div class="col-md-6">
                <h3>User 2</h3>
                <p>"Chỉ đơn giản là văn bản giả của ngành in và sắp chữ Chỉ đơn giản là văn bản Chỉ đơn giản là văn bản."</p>
            </div>
        </div>

        <div class="col-md-6 comment-post">
            <div class="col-md-6">
                <img src="~/Content/assets/imgs/products/product-5.jpg" class="img-circle" atl="">
            </div>

            <div class="col-md-6">
                <h3>User 3</h3>
                <p>"Chỉ đơn giản là văn bản giả của ngành in và sắp chữ Chỉ đơn giản là văn bản Chỉ đơn giản là văn bản."</p>
            </div>
        </div>

        <div class="col-md-6 comment-post">
            <div class="col-md-6">
                <img src="~/Content/assets/imgs/products/product-5.jpg" class="img-circle" atl="">
            </div>

            <div class="col-md-6">
                <h3>User 4</h3>
                <p>"Chỉ đơn giản là văn bản giả của ngành in và sắp chữ Chỉ đơn giản là văn bản Chỉ đơn giản là văn bản."</p>
            </div>
        </div>
    </div>
</div>
