
@{
    ViewBag.Title = "Image";
    Layout = "~/Areas/HomePage/Views/Layout/Layout_Full_Width.cshtml";
}

<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-0ebec8c3-5f6b-49fc-a183-eb1154dc075c"></div>

