
@{
    ViewBag.Title = "Image";
    Layout = "~/Areas/HomePage/Views/Layout/Layout_Full_Width.cshtml";
}

<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-707246b1-7ea6-44af-a0b7-406ef68e0d68"></div>

