
@{
    ViewBag.Title = "Media";
    Layout = "~/Areas/HomePage/Views/Layout/Layout_No_Menu.cshtml";
}

<h2>Media</h2>

<div class="row">
    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
    <div class="elfsight-app-0ebec8c3-5f6b-49fc-a183-eb1154dc075c"></div>
</div>
