
@{
    ViewBag.Title = "Media";
    Layout = "~/Areas/HomePage/Views/Layout/Layout_Page.cshtml";
}

<!-- Breadcrumb -->
<div class="row page-name">
    <h1>Media</h1>
    <div class="col-md-6 col-md-offset-3">
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","HomeRes")">Home</a></li>
            <li><a href="@Url.Action("Media","Media")">Media</a></li>
        </ol>
    </div>
</div>

<div class="row">
    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
    <div class="elfsight-app-707246b1-7ea6-44af-a0b7-406ef68e0d68"></div>
</div>
