
@{
    ViewBag.Title = "Table";
    Layout = "~/Areas/Admin/Views/Layout/Layout.cshtml";
}


<div id="content">
    <div class="outer">
        <div class="inner bg-light lter">
            <div class="row">
                <!-- Table -->
                <div class="col-md-12">
                    <div class="box">
                        <header>
                            <h5>Table</h5>
                        </header>
                        <div id="sortableTable" class="body collapse in">
                            <table class="table table-bordered sortableTable responsive-table">
                                <thead>
                                    <tr>
                                        <th>
                                            <span class="glyphicon glyphicon-sort"></span>
                                            #
                                        </th>
                                        <th>
                                            <span class="glyphicon glyphicon-sort"></span>
                                            First Name
                                        </th>
                                        <th>
                                            <span class="glyphicon glyphicon-sort"></span>
                                            Last Name
                                        </th>
                                        <th>
                                            <span class="glyphicon glyphicon-sort"></span>
                                            Score
                                        </th>
                                        <th><a href="#"><span class="glyphicon glyphicon-plus-sign"></span></a></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Jill</td>
                                        <td>Smith</td>
                                        <td>50</td>
                                        <td>
                                            <a href="#"><span class="glyphicon glyphicon-edit"></span></a>
                                            <a href="#"><span class="glyphicon glyphicon-trash"></span></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Eve</td>
                                        <td>Jackson</td>
                                        <td>94</td>
                                        <td>
                                            <a href="#"><span class="glyphicon glyphicon-edit"></span></a>
                                            <a href="#"><span class="glyphicon glyphicon-trash"></span></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>John</td>
                                        <td>Doe</td>
                                        <td>80</td>
                                        <td>
                                            <a href="#"><span class="glyphicon glyphicon-edit"></span></a>
                                            <a href="#"><span class="glyphicon glyphicon-trash"></span></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Adam</td>
                                        <td>Johnson</td>
                                        <td>67</td>
                                        <td>
                                            <a href="#"><span class="glyphicon glyphicon-edit"></span></a>
                                            <a href="#"><span class="glyphicon glyphicon-trash"></span></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.inner -->
    </div><!-- /.outer -->
</div><!-- /#content -->
