@model OuWebsiteTeam_RestaurantService.DBContext.PdbFood

@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/Admin/Views/Layout/Layout.cshtml";
}

<h2>Update</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
