body {
    --one: #FB6044;
    --two: #E82D4A;
    --three: #1D212D;
    --four: #343843;
    --five: #EEEFF4;
    --six: #ffffff;
    --seven: black;
    --eight: #C7FF00;
    --nine: #616CA2;
}

.menu-name {
    background: url('../imgs/backgrounds/bg-breakfast.jpeg') no-repeat center;
}

    .menu-name h1 {
        text-align: center;
        padding: 5% 5% 2.5% 5%;
    }

.background-menu {
    background: var(--five);
}

.food {
    text-align: center;
}

.menu-food {
    width: 100%;
}

    .menu-food ul li {
        width: 14.66666667%;
        margin:1% 0.75%;
    }
